openapi: 3.0.2
info:
  version: {{ .version }}
  title: {{ .title }}
  description: |
    {{ .description | indent 4 }}
tags: {{ range .collections }}
  - name: {{ title .collection }}
    description: {{ title .collection }} operations {{end}}

servers: {{ range .servers }}
  - url: {{ .server }}
{{end}}
paths: {{ range .collections }}
  /{{ .collection }}/query:
    post:
      tags:
        - {{ title .collection }}
      summary: query {{ title .collection }} documents
      description: This operation queries {{ title .collection }} documents
      operationId: query{{ title .collection }}
      security:
        - main_auth:
            - 'query:{{ title .collection }}'
            - 'admin'
      responses:
        '200':
          description: OK
        '400':
          description: Invalid Query
        '500':
          description: Internal Server Error
      # request body documentation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
        required: true
{{end}}
# An object to hold reusable parts that can be used across the definition
components:
  schemas:
    Query: {{ .querySchema | nindent 6 }}:

{{ range .collections }}
    {{ title .collection }}: {{ .schema | nindent 6 }}
{{end}}
