openapi: 3.0.2
info:
  version: '1.0.0'
  title: Example.com
  description: |
    This is an **example** API to demonstrate features of OpenAPI specification
tags:
{{ range .collections }}
  - name: {{ title .collection }}
    description: {{ title .collection }} operations
{{end}}
servers:
  - url: 'http://example.com/api/v1'
  - url: 'https://example.com/api/v1'

# Holds the relative paths to the individual endpoints. The path is appended to the
# basePath in order to construct the full URL. 
paths:
{{ range .collections }}
  /{{ .collection }}/query:
    post:
      tags:
        - {{ title .collection }}
      summary: Updated user
      description: This can only be done by the logged in user.
      operationId: updateUser
      parameters:
        - name: username
          in: path
          description: The name that needs to be updated
          required: true
          schema:
            type: string
      security:
        - main_auth:
            - 'write:users'
      responses:
        '200':
          description: OK
        '400':
          description: Invalid user supplied
        '404':
          description: User not found
      # request body documentation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/{{ title .collection }}'
          application/xml:
            schema:
              $ref: '#/components/schemas/{{ title .collection }}'
        description: Updated user object
        required: true
{{end}}
# An object to hold reusable parts that can be used across the definition
components:
  schemas:
  Query:
    type: "object"
    properties:
      from:
        type: string

{{ range .collections }}
    {{ title .collection }}:
      {{ .schema | nindent 8 }}
{{end}}
