openapi: 3.0.2
info:
  version: {{ .version }}
  title: {{ .title }}
  description: |
    {{ .description | indent 4 }}
tags: {{ range .collections }}
  - name: {{ title .collection }}
    description: {{ title .collection }} operations {{end}}
{{ if .servers}}
servers: {{ range .servers }}
  - url: {{ .server }}
{{end}} {{end}}
paths:
  /api/schema:
    get:
      tags:
        - schema
      summary: get collection schemas
      operationId: getSchemas
      responses:
        '200':
          description: OK
          content:
            application/x-yaml:
              schema:
                type: string
        '400':
          description: Invalid schema
        '500':
          description: Internal Server Error
  /api/sdk:
    get:
      tags:
        - schema
      summary: generate a go sdk for this API
      operationId: getSDK
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
        '400':
          description: Invalid schema
        '500':
          description: Internal Server Error
{{- range .collections }}
  # {{ .collection }} collection endpoints
  /api/schema/{{ .collection }}:
    get:
      tags:
        - {{ title .collection }}
        - schema
      summary: get {{ title .collection }} collection schemas
      operationId: get{{ title .collection }}Schema
      responses:
        '200':
          description: OK
          content:
            application/x-yaml:
              schema:
                type: string
        '400':
          description: Invalid schema
        '500':
          description: Internal Server Error
    put:
      tags:
        - {{ title .collection }}
      summary: set {{ title .collection }} collection schemas
      operationId: set{{ title .collection }}Schema
      responses:
        '200':
          description: OK
          content:
            application/x-yaml:
              schema:
                type: string
        '400':
          description: Invalid schema
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
  /api/collections/{{ .collection }}/docs:
    post:
      tags:
        - {{ title .collection }}
      summary: create a {{ title .collection }} document
      description: This creates a document in the {{ title .collection }} collection
      operationId: create{{ title .collection }}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/{{ title .collection }}"
        '400':
          description: Invalid document
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/{{ title .collection }}'
        required: true
  /api/collections/{{ .collection }}/docs/{docID}:
    get:
      tags:
        - {{ title .collection }}
      summary: get a {{ title .collection }} document by id
      description: This retrieves an existing document in the {{ title .collection }} collection by id
      operationId: get{{ title .collection }}
      parameters:
        - $ref: "#/components/parameters/DocID"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/{{ title .collection }}"
        '400':
          description: Invalid request
        '404':
          description: Not found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - {{ title .collection }}
      summary: delete a {{ title .collection }} document by id
      description: This deletes an existing document in the {{ title .collection }} collection by id
      operationId: delete{{ title .collection }}
      parameters:
        - $ref: "#/components/parameters/DocID"
      responses:
        '200':
          description: OK
        '400':
          description: Invalid request
        '404':
          description: Not found
        '500':
          description: Internal Server Error
    put:
      tags:
        - {{ title .collection }}
      summary: update a {{ title .collection }} document
      description: This updates an existing document in the {{ title .collection }} collection
      operationId: set{{ title .collection }}
      parameters:
        - $ref: "#/components/parameters/DocID"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/{{ title .collection }}"
        '400':
          description: Invalid update
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/{{ title .collection }}'
        required: true
    patch:
      tags:
        - {{ title .collection }}
      summary: edit fields of an {{ title .collection }} document
      description: This edits a document in the {{ title .collection }} collection
      operationId: edit{{ title .collection }}
      parameters:
        - $ref: "#/components/parameters/DocID"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/{{ title .collection }}"
        '400':
          description: Invalid document
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
  /api/collections/{{ .collection }}/query:
    post:
      tags:
        - {{ title .collection }}
      summary: query {{ title .collection }} collection
      description: This operation queries documents in the {{ title .collection }} collection
      operationId: query{{ title .collection }}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Page"
        '400':
          description: Invalid {{ title .collection }} Query
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
        required: true
  /api/collections/{{ .collection }}/batch:
    put:
      tags:
        - {{ title .collection }}
      summary: batch set 1-many {{ title .collection }} documents
      description: This set 1-many documents in the {{ title .collection }} collection
      operationId: batchSet{{ title .collection }}
      responses:
        '200':
          description: OK
        '400':
          description: Invalid document(s)
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/{{ title .collection }}'
        required: true
{{end}}
components:
  parameters:
    DocID:
      name: docID
      in: path
      required: true
      schema:
        type: string
  schemas:
    Query: {{ .query_schema | nindent 6 }}
    Page: {{ .page_schema | nindent 6 }}
{{- range .collections }}
    {{ title .collection }}: {{ .schema | nindent 6 }}
{{end}}